{{#each employees}}

  <tr>
    <th scope="row">{{@index}}</th>
    <td><img src="{{#if avatar}}{{avatar}}{{else}}/assets/default-avatar.png{{/if}}"width="35" height="35">
        {{firstName}} {{this.lastName}}</td>
    <td>{{this.email}}</td>
    <td>{{this.phone}}</td>
    <td>{{this.gender}}</td>
    <td>{{this.country}}</td>
    <td>{{this.city}}</td>
    

    <td><input type="checkbox" id="ckb_{{_id}}" class="empchkbox" />
      <label for="ckb_{{_id}}" class="check1"><i
          class="fa-solid fa-ellipsis"
        ></i>
      </label>
      <div class="options">
        <a href="/empdetails/{{_id}}"><i
            class="fa-solid fa-eye"
          ></i>&nbsp;&nbsp;View</a>
        <button
          id="edit{{_id}}"
          onclick="editEmployee('{{_id}}')"
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#editmodal"
          data-employee-id="{{_id}}"
        ><i class="fa-regular fa-pen-to-square"></i>&nbsp;&nbsp;Edit</button>
        {{! <a href="/views/partials/editForm.hbs"><i class="fa-regular fa-pen-to-square"></i>&nbsp;&nbsp;Edit</a> }}
        <button
          id="del"
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-id="{{_id}}"
          data-bs-target="#deleteEmployee{{_id}}"
        >
          <i class="fa-regular fa-pen-to-square"></i>&nbsp;&nbsp;Delete
        </button>

        
    </td>
  </tr>
<!-- Deletion form -->

        <div
          class="modal fade"
          id="deleteEmployee{{_id}}"
          tabindex="-1"
          role="dialog"
          aria-labelledby="deleteEmployee"
          aria-hidden="true"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
        >
          <div
            class="modal-dialog modal-dialog-centered"
            style="max-width: 850px;"
          >
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteEmployeeHeader">Modal title</h5>
                <button
                  type="button"
                  class="close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  <!-- <span aria-hidden="true">&times;</span> -->
                </button>
              </div>
              <div class="modal-body">

                <p
                  class="h4 mb-3"
                  style="color: var(--primary-color); font-weight: 500; "
                >
                  Delete employee</p>
                <p>Are you sure you want to delete this employee ?</p>
                <div class="delete-button">
                  <button
                    type="button"
                    class="btn btn-light"
                    data-bs-dismiss="modal"
                    onclick="remove()"
                  >Cancel</button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    id="del-confirm"
                    onclick=" deleteId('{{_id}}')"
                  >Delete</button>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
{{/each}}
